.title {
  display: flex;
  justify-content: center;
  font-family: "TmonMonsori";
  font-size: 80px;
}
.padding-top {
  padding-top: 10vh;
}
.padding-bottom {
  padding-bottom: 5vh;
}
/* @font-face {
  font-family: "DOSMyungjo";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/DOSMyungjo.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
} */
@font-face {
  font-family: "TmonMonsori";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/TmonMonsori.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
